.Card{
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, grey, white);
    margin-top: 50px;
    margin-left: 90px;
    display: inline-block;
    height: 180px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    
}

.Card > img {
    width: 110px;
    margin-top: 0;
}


