.Footer{
    position: absolute;
    bottom: 0px;
    font-family: sans-serif;
    background-color: black;
    margin: 0px;
    width: 100%;
    left: 0px;
    height: 25px;
}

.Footer > p {
    font-size: 10px;
    text-align: center;
    color: white;
}